In [6]:
# Ted Leo and the Pharmacits record labels.

In [5]:
year =  2007

if year >= 2001 and year <= 2006:
    print('Lookout Records')
elif year >= 2007 and year <= 2009:
    print('Touch and Go Records')
else:
    print('Matador Records')

Touch and Go Records

In [7]:
# All of the numbers less than 100, divisible by 3.

In [22]:
for n in range(1, 100):
    if n % 3 ==0: # x % y = remainder. Set == 0. 
        print (n)
else:
    print("All done!") # Out of the for loop.

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
All done!

In [ ]:
# Tryign out For loops on Dictionaries

In [51]:
actors = {
    "Kyle MacLachlan": "Dale Cooper",
    "Sheryl Lee": "Laura Palmer",
    "Lara Flynn Boyle": "Donna Hayward",
    "Sherilyn Fenn" : "Audrey Horne"
}

for star in actors:
    print(star + " : " + actors[star])

Sheryl Lee : Laura Palmer
Kyle MacLachlan : Dale Cooper
Sherilyn Fenn : Audrey Horne
Lara Flynn Boyle : Donna Hayward

In [52]:
# While Loops

In [13]:
#Prompt: 
    
    # A slow, but determined, walker sets off from Leicester 
# to cover the 102 miles to London at 2 miles per hour. 
# Another walker sets off from London heading to Leicester 
# going at 1 mile per hour. 
# Where do they meet?

# ON THE 34TH HOUR, THEY MEET 68 MILES FROM LEICESTER, 34 MILES FROM LONDON!!!!

miles_walkedA = 0
miles_walkedB = 102

Atime = 0
Btime = 0

walkingA = True
walkingB = True

while walkingA:
    if miles_walkedA <= 102:
        print('{} miles from Leicester'.format(miles_walkedA))
        print(str(Atime) + ' hour mark')
        miles_walkedA += 2
        Atime += 1
    else:
        walkingA = False
else:
    print('Made it!')
    
while walkingB:
    if miles_walkedB >= 0:
        print('{} miles to Leicester'.format(miles_walkedB))
        print(str(Btime) + ' hour mark')
        miles_walkedB -= 1
        Btime += 1
    else:
        walkingB = False
else:
    print('Made it!')

0 miles from Leicester
0 hour mark
2 miles from Leicester
1 hour mark
4 miles from Leicester
2 hour mark
6 miles from Leicester
3 hour mark
8 miles from Leicester
4 hour mark
10 miles from Leicester
5 hour mark
12 miles from Leicester
6 hour mark
14 miles from Leicester
7 hour mark
16 miles from Leicester
8 hour mark
18 miles from Leicester
9 hour mark
20 miles from Leicester
10 hour mark
22 miles from Leicester
11 hour mark
24 miles from Leicester
12 hour mark
26 miles from Leicester
13 hour mark
28 miles from Leicester
14 hour mark
30 miles from Leicester
15 hour mark
32 miles from Leicester
16 hour mark
34 miles from Leicester
17 hour mark
36 miles from Leicester
18 hour mark
38 miles from Leicester
19 hour mark
40 miles from Leicester
20 hour mark
42 miles from Leicester
21 hour mark
44 miles from Leicester
22 hour mark
46 miles from Leicester
23 hour mark
48 miles from Leicester
24 hour mark
50 miles from Leicester
25 hour mark
52 miles from Leicester
26 hour mark
54 miles from Leicester
27 hour mark
56 miles from Leicester
28 hour mark
58 miles from Leicester
29 hour mark
60 miles from Leicester
30 hour mark
62 miles from Leicester
31 hour mark
64 miles from Leicester
32 hour mark
66 miles from Leicester
33 hour mark
68 miles from Leicester
34 hour mark
70 miles from Leicester
35 hour mark
72 miles from Leicester
36 hour mark
74 miles from Leicester
37 hour mark
76 miles from Leicester
38 hour mark
78 miles from Leicester
39 hour mark
80 miles from Leicester
40 hour mark
82 miles from Leicester
41 hour mark
84 miles from Leicester
42 hour mark
86 miles from Leicester
43 hour mark
88 miles from Leicester
44 hour mark
90 miles from Leicester
45 hour mark
92 miles from Leicester
46 hour mark
94 miles from Leicester
47 hour mark
96 miles from Leicester
48 hour mark
98 miles from Leicester
49 hour mark
100 miles from Leicester
50 hour mark
102 miles from Leicester
51 hour mark
Made it!
102 miles to Leicester
0 hour mark
101 miles to Leicester
1 hour mark
100 miles to Leicester
2 hour mark
99 miles to Leicester
3 hour mark
98 miles to Leicester
4 hour mark
97 miles to Leicester
5 hour mark
96 miles to Leicester
6 hour mark
95 miles to Leicester
7 hour mark
94 miles to Leicester
8 hour mark
93 miles to Leicester
9 hour mark
92 miles to Leicester
10 hour mark
91 miles to Leicester
11 hour mark
90 miles to Leicester
12 hour mark
89 miles to Leicester
13 hour mark
88 miles to Leicester
14 hour mark
87 miles to Leicester
15 hour mark
86 miles to Leicester
16 hour mark
85 miles to Leicester
17 hour mark
84 miles to Leicester
18 hour mark
83 miles to Leicester
19 hour mark
82 miles to Leicester
20 hour mark
81 miles to Leicester
21 hour mark
80 miles to Leicester
22 hour mark
79 miles to Leicester
23 hour mark
78 miles to Leicester
24 hour mark
77 miles to Leicester
25 hour mark
76 miles to Leicester
26 hour mark
75 miles to Leicester
27 hour mark
74 miles to Leicester
28 hour mark
73 miles to Leicester
29 hour mark
72 miles to Leicester
30 hour mark
71 miles to Leicester
31 hour mark
70 miles to Leicester
32 hour mark
69 miles to Leicester
33 hour mark
68 miles to Leicester
34 hour mark
67 miles to Leicester
35 hour mark
66 miles to Leicester
36 hour mark
65 miles to Leicester
37 hour mark
64 miles to Leicester
38 hour mark
63 miles to Leicester
39 hour mark
62 miles to Leicester
40 hour mark
61 miles to Leicester
41 hour mark
60 miles to Leicester
42 hour mark
59 miles to Leicester
43 hour mark
58 miles to Leicester
44 hour mark
57 miles to Leicester
45 hour mark
56 miles to Leicester
46 hour mark
55 miles to Leicester
47 hour mark
54 miles to Leicester
48 hour mark
53 miles to Leicester
49 hour mark
52 miles to Leicester
50 hour mark
51 miles to Leicester
51 hour mark
50 miles to Leicester
52 hour mark
49 miles to Leicester
53 hour mark
48 miles to Leicester
54 hour mark
47 miles to Leicester
55 hour mark
46 miles to Leicester
56 hour mark
45 miles to Leicester
57 hour mark
44 miles to Leicester
58 hour mark
43 miles to Leicester
59 hour mark
42 miles to Leicester
60 hour mark
41 miles to Leicester
61 hour mark
40 miles to Leicester
62 hour mark
39 miles to Leicester
63 hour mark
38 miles to Leicester
64 hour mark
37 miles to Leicester
65 hour mark
36 miles to Leicester
66 hour mark
35 miles to Leicester
67 hour mark
34 miles to Leicester
68 hour mark
33 miles to Leicester
69 hour mark
32 miles to Leicester
70 hour mark
31 miles to Leicester
71 hour mark
30 miles to Leicester
72 hour mark
29 miles to Leicester
73 hour mark
28 miles to Leicester
74 hour mark
27 miles to Leicester
75 hour mark
26 miles to Leicester
76 hour mark
25 miles to Leicester
77 hour mark
24 miles to Leicester
78 hour mark
23 miles to Leicester
79 hour mark
22 miles to Leicester
80 hour mark
21 miles to Leicester
81 hour mark
20 miles to Leicester
82 hour mark
19 miles to Leicester
83 hour mark
18 miles to Leicester
84 hour mark
17 miles to Leicester
85 hour mark
16 miles to Leicester
86 hour mark
15 miles to Leicester
87 hour mark
14 miles to Leicester
88 hour mark
13 miles to Leicester
89 hour mark
12 miles to Leicester
90 hour mark
11 miles to Leicester
91 hour mark
10 miles to Leicester
92 hour mark
9 miles to Leicester
93 hour mark
8 miles to Leicester
94 hour mark
7 miles to Leicester
95 hour mark
6 miles to Leicester
96 hour mark
5 miles to Leicester
97 hour mark
4 miles to Leicester
98 hour mark
3 miles to Leicester
99 hour mark
2 miles to Leicester
100 hour mark
1 miles to Leicester
101 hour mark
0 miles to Leicester
102 hour mark
Made it!

In [64]:
# Phonebook example (Try and Except functions)

In [63]:
phone_book = {
    "Sarah Hughes": "01234 567890",
    "Tim Taylor": "02345 678901",
    "Sam Smith":  "03456 789012"
}

try:
    phone_book['Jamie Theakston']
except KeyError:
    print ('There is no Jamie here')

There is no Jamie here

In [11]:
#Importing an even better dictionary tool

In [12]:
from collections import defaultdict

In [18]:
number_list = [1,1,2,2,2,2,3,3,4,4,5,5,5,5,5,5,6,7,8,8,8,8,9,9,9,9,]
count_dict = defaultdict(int)

print(defaultdict)

for i in number_list:
    count_dict[i] += 1

count_dict

<class 'collections.defaultdict'>

defaultdict(int, {1: 2, 2: 4, 3: 2, 4: 2, 5: 6, 6: 1, 7: 1, 8: 4, 9: 4})

In [22]:
# User defined functions

In [21]:
def addition(a, b):
    return(a + b)

print(addition('Hello ', "Jake"))
print(addition(2, 5))

Hello Jake
7

In [23]:
# Bake a Cake

In [52]:
ingredients = {
    "butter"  : ("butter", 118.3),
    "sugar"   : ("sugar", 236.6),
    "vanilla" : ("vanilla", 4.929),
    "eggs"    : ("eggs", 2), # whole eggs
    "cocoa"   : ("cocoa", 118.3),
    "flour"   : ("flour", 118.3)
}


butter_soft = False
bowl = []

# Define all action steps needed

def melt(this):
    print('Melting {0}.'.format(this))

def bake(this, temp):
    print('Baking {0} at {1}.'.format(this, temp))

def mix(this):
    print('Mixing {0}.'.format(this))

def add_to_bowl(ingredient):
    print("Adding {0} to the bowl.".format(ingredient))
    return bowl.append(ingredient)

In [53]:
# Start the Algorithm ... Bake that cake

#1. If butter is not soft, then melt butter.
#2. Blend melted butter and sugar until mixture has creamy consistency, about 3 minutes
#3. Add eggs and vanilla; stir
#4. Add cocoa and flour; mix until well blended, about 4 minutes
#5. Pour into greased round glass cake pan
#6. Bake in oven 350 degrees for 30 minutes

if butter_soft != True:
    melt(ingredients['butter'][0])
    butter_soft = True

add_to_bowl(ingredients['butter'][0])
add_to_bowl(ingredients['sugar'][0])

mixing_time = 0
mixture_creamy = False

while mixture_creamy ==  False:
    mix(bowl)
    mixing_time += 1
    if mixing_time == 3:
        mixture_creamy = True

add_to_bowl(ingredients['eggs'][0])
add_to_bowl(ingredients['vanilla'][0])

mix(bowl)

add_to_bowl(ingredients['cocoa'][0])
add_to_bowl(ingredients['flour'][0])

mixing_time = 0
mixture_well_blended = False

while mixture_well_blended == False:
    mix(bowl)
    mixing_time += 1
    if mixing_time == 4:
        mixture_well_blended = True
        
# In cooking terms: pour contents of the bowl into a cake pan
# In Python terms: redefine the bowl variable as cake_pan

cake_pan = bowl

cooking_temp = 350
cooking_time = 30

for minute in range(cooking_time):
    bake(cake_pan, cooking_temp)

print('Cake is done!')
butter_soft

Melting butter.
Adding butter to the bowl.
Adding sugar to the bowl.
Mixing ['butter', 'sugar'].
Mixing ['butter', 'sugar'].
Mixing ['butter', 'sugar'].
Adding eggs to the bowl.
Adding vanilla to the bowl.
Mixing ['butter', 'sugar', 'eggs', 'vanilla'].
Adding cocoa to the bowl.
Adding flour to the bowl.
Mixing ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'].
Mixing ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'].
Mixing ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'].
Mixing ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'].
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Cake is done!

True

In [57]:
# Fibonacci Sequence

In [75]:
def F(n):
    if n < 2:
        return n
    else:
        return F(n-2) + F(n-1)

In [76]:
F(7)

13

In [68]:
# FizzBuzz Algo

In [67]:
for i in range(100):
    if i % 3 == 0 and i % 5 == 0:
        print('FizzBuzz')
    elif i % 3 == 0:
        print('Fizz')
    elif i % 5 == 0:
        print('Buzz')
    else:
        print(i)

FizzBuzz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

In [1]:
# Reading and writing files in Python

In [38]:
# Help, cannot figure out why this won't work.
#Not working...
try:
    with open('path/to/filename', 'rU') as inputFile:
    
except SyntaxError:
    print('this is just example text')
        
# Working...    
try:
    phone_book['Jamie Theakston']
except NameError:
    print ('There is no Jamie here')

SyntaxError: invalid syntax (<ipython-input-38-179a0938a429>, line 6)

In [44]:
# Reading in Data Files
# .rsplit() is a power move. Remember this.

In [28]:
# Setting up the data
# NOTE: Jupyter does NOT support 'rU'[niversal], must use 'r'.
# Error: Depreceate U mode .... ???

with open("lecz-urban-rural-population-land-area-estimates_continent-90m.csv", 'r') as inputFile: 
    header =  next(inputFile)
    for line in inputFile:
        line = line.rstrip().split(',')
        line[5] = int(line[5])
        if line[1] == 'Total National Population':
            print("%s %s %s" % (line[0], line[5], type(line[5])))

Africa 573918429 <class 'int'>
Africa 327611385 <class 'int'>
Asia 2345920129 <class 'int'>
Asia 1720930281 <class 'int'>
Oceania 14024049 <class 'int'>
Oceania 23152802 <class 'int'>
Europe 223529720 <class 'int'>
Europe 481254575 <class 'int'>
North America 136724785 <class 'int'>
North America 368856952 <class 'int'>
South America 140056209 <class 'int'>
South America 239968353 <class 'int'>

In [29]:
header = header.rstrip().split(',')
print(header)
print(header[5])
print(header[6])
print(header[7])

['Continent', 'ElevationZone', 'UrbanRuralDesignation', 'Population1990', 'Population2000', 'Population2010', 'Population2100', 'LandArea']
Population2010
Population2100
LandArea

In [29]:
# Create dictionary where Continent is Key : Population is Value

In [17]:
import collections
from collections import defaultdict

population_dict = collections.defaultdict(int) #name and create

with open("lecz-urban-rural-population-land-area-estimates_continent-90m.csv", 'r') as inputFile: 
    header =  next(inputFile)
    
    for line in inputFile:
        line = line.rstrip().split(',')
        line[5] = int(line[5])
        if line[1] == 'Total National Population':
            population_dict[line[0]] += line[5] # explain how this works?

population_dict

defaultdict(int,
            {'Africa': 901529814,
             'Asia': 4066850410,
             'Europe': 704784295,
             'North America': 505581737,
             'Oceania': 37176851,
             'South America': 380024562})

In [4]:
with open('national_population.csv', 'w') as outputFile:
    outputFile.write('continent,2010_population\n')
    for k, v in population_dict.items(): # in Python 2 .iteritmes --> .items for Python3
        outputFile.write(k + ',' +str(v) + '\n')

In [5]:
# Challenge 1. Calculate the pop change from 2010 to 2100.

In [14]:
import collections
from collections import defaultdict

population2100_dict = collections.defaultdict(int) #name and create

with open("lecz-urban-rural-population-land-area-estimates_continent-90m.csv", 'r') as inputFile2: 
    header2 =  next(inputFile2)
    
    for line in inputFile2:
        line = line.rstrip().split(',')
        line[6] = int(line[6])
        if line[1]  == 'Total National Population':
            population2100_dict[line[0]] += line[6]

population2100_dict

defaultdict(int,
            {'Africa': 2017855806,
             'Asia': 5847484884,
             'Europe': 442854296,
             'North America': 756911497,
             'Oceania': 45906518,
             'South America': 628786756})

In [35]:
import numpy as np

total_pops2010 = []
total_pops2100 = []

for i, j in population_dict.items():
    total_pops2010.append(j)

for k, l in population2100_dict.items():
    total_pops2100.append(l)

a = np.array(total_pops2010)
b = np.array(total_pops2100)

print(a - b)
print('Africa is expected to grow the fastest by 2100, adding 261929999 new people ')

[  261929999  -248762194 -1780634474    -8729667  -251329760 -1116325992]
Africa is expected to grow the fastest by 2100, adding 261929999 new people

In [7]:
# Challenge 2. Calculate the pop density, who's most dense in 2010.

In [30]:
import collections
from collections import defaultdict

population_density_dict = collections.defaultdict(int) #name and create

with open("lecz-urban-rural-population-land-area-estimates_continent-90m.csv", 'r') as inputFile3: 
    header2 =  next(inputFile3)
    
    for line in inputFile3:
        line = line.rstrip().split(',')
        line[7] = int(line[7])
        if line[1]  == 'Total National Population':
            population_density_dict[line[0]] += line[7]

population_density_dict

defaultdict(int,
            {'Africa': 24320513,
             'Asia': 40985150,
             'Europe': 5472744,
             'North America': 21475620,
             'Oceania': 8492248,
             'South America': 16017906})

In [41]:
import numpy as np
land_area = []

for i, j in population_density_dict.items():
    land_area.append(j)

dense = np.array(land_area)
print(b / dense)
max(b / dense)
print('Europe will be most dense by 2100, at 142.67325809 people per square meter ')

[  80.91997287   39.25524073  142.67325809    5.40569682   35.24515227
   82.96929452]
Europe will be most dense by 2100, at 142.67325809 people per square meter

In [6]:
# Import CSV and use csv.reader()

In [7]:
import csv

with open('lecz-urban-rural-population-land-area-estimates_continent-90m.csv', 'r') as inputFile:
    inputReader = csv.reader(inputFile)
    for line in inputReader:
        print(line)

['Continent', 'ElevationZone', 'UrbanRuralDesignation', 'Population1990', 'Population2000', 'Population2010', 'Population2100', 'LandArea']
['Africa', 'Elevations > 20m or Non-Contiguous ', 'Rural', '333302081', '418265923', '530184094', '1249908321', '23749644']
['Africa', 'Elevations > 20m or Non-Contiguous ', 'Urban', '157846329', '210381843', '266776037', '504662423', '204719']
['Africa', 'Elevations Less Than or Equal To 10m ', 'Rural', '18167003', '22569516', '28154645', '76368900', '172460']
['Africa', 'Elevations Less Than or Equal To 10m ', 'Urban', '22412955', '28679117', '36746774', '94042536', '13838']
['Africa', 'Elevations Less Than or Equal To 12m ', 'Rural', '20569411', '25576481', '31957186', '85839163', '202456']
['Africa', 'Elevations Less Than or Equal To 12m ', 'Urban', '25761403', '32968917', '42205337', '105920405', '16035']
['Africa', 'Elevations Less Than or Equal To 1m', 'Rural', '3052584', '3891608', '4785451', '14152403', '21939']
['Africa', 'Elevations Less Than or Equal To 1m', 'Urban', '4056678', '4791461', '5915752', '21137853', '2193']
['Africa', 'Elevations Less Than or Equal To 20m ', 'Rural', '27791636', '34704704', '43734340', '118040942', '342694']
['Africa', 'Elevations Less Than or Equal To 20m ', 'Urban', '37566072', '47749797', '60835348', '145244129', '23456']
['Africa', 'Elevations Less Than or Equal To 3m', 'Rural', '6178557', '7763536', '9586584', '27430640', '46301']
['Africa', 'Elevations Less Than or Equal To 3m', 'Urban', '7194770', '8762218', '11005850', '34775942', '4662']
['Africa', 'Elevations Less Than or Equal To 5m', 'Rural', '9969005', '12408335', '15403231', '43327033', '84084']
['Africa', 'Elevations Less Than or Equal To 5m', 'Urban', '11597788', '14488902', '18449258', '53508839', '7366']
['Africa', 'Elevations Less Than or Equal To 7m', 'Rural', '13595903', '16884460', '21018235', '58101349', '121581']
['Africa', 'Elevations Less Than or Equal To 7m', 'Urban', '16197359', '20564492', '26333878', '71409170', '10121']
['Africa', 'Elevations Less Than or Equal To 9m', 'Rural', '16858764', '20937690', '26100880', '71204360', '156291']
['Africa', 'Elevations Less Than or Equal To 9m', 'Urban', '20542430', '26255213', '33641605', '87324590', '12665']
['Africa', 'Total National Population', 'Rural', '361093713', '452970623', '573918429', '1367949254', '24092338']
['Africa', 'Total National Population', 'Urban', '195412402', '258131640', '327611385', '649906552', '228175']
['Asia', 'Elevations > 20m or Non-Contiguous ', 'Rural', '1680481883', '1798416711', '1974005089', '2874557238', '37883607']
['Asia', 'Elevations > 20m or Non-Contiguous ', 'Urban', '918668080', '1175247232', '1262609098', '1764942637', '1122788']
['Asia', 'Elevations Less Than or Equal To 10m ', 'Rural', '191278674', '210541251', '234663295', '374695595', '969683']
['Asia', 'Elevations Less Than or Equal To 10m ', 'Urban', '203398169', '252379433', '290492264', '377327872', '129278']
['Asia', 'Elevations Less Than or Equal To 12m ', 'Rural', '219960928', '243052196', '271741911', '437367709', '1128770']
['Asia', 'Elevations Less Than or Equal To 12m ', 'Urban', '233147526', '289429187', '333361953', '434901291', '149673']
['Asia', 'Elevations Less Than or Equal To 1m', 'Rural', '18459117', '20808077', '22164683', '33476823', '109974']
['Asia', 'Elevations Less Than or Equal To 1m', 'Urban', '15105001', '19858184', '21974625', '27586527', '12590']
['Asia', 'Elevations Less Than or Equal To 20m ', 'Rural', '299462435', '331270619', '371915099', '603768417', '1764932']
['Asia', 'Elevations Less Than or Equal To 20m ', 'Urban', '319318447', '397909472', '458321169', '604216625', '213823']
['Asia', 'Elevations Less Than or Equal To 3m', 'Rural', '48168060', '53093971', '57758563', '85812360', '266138']
['Asia', 'Elevations Less Than or Equal To 3m', 'Urban', '37555825', '48341898', '54512396', '68677562', '31423']
['Asia', 'Elevations Less Than or Equal To 5m', 'Rural', '96000422', '104609114', '114983028', '175319939', '478303']
['Asia', 'Elevations Less Than or Equal To 5m', 'Urban', '87109915', '109542006', '124916072', '158748008', '62383']
['Asia', 'Elevations Less Than or Equal To 7m', 'Rural', '139082069', '152030350', '168232444', '262405032', '697177']
['Asia', 'Elevations Less Than or Equal To 7m', 'Urban', '141792154', '176453451', '202546292', '260137398', '92410']
['Asia', 'Elevations Less Than or Equal To 9m', 'Rural', '175412216', '192696616', '214358663', '340006165', '886176']
['Asia', 'Elevations Less Than or Equal To 9m', 'Urban', '185617116', '230392535', '264967068', '343068584', '118075']
['Asia', 'Total National Population', 'Rural', '1979944334', '2129687281', '2345920129', '3478325610', '39648539']
['Asia', 'Total National Population', 'Urban', '1237986520', '1573156714', '1720930281', '2369159274', '1336611']
['Oceania', 'Elevations > 20m or Non-Contiguous ', 'Rural', '8427284', '10127646', '12434027', '18743701', '8174117']
['Oceania', 'Elevations Less Than or Equal To 10m ', 'Rural', '636248', '747250', '871503', '1012881', '126545']
['Oceania', 'Elevations Less Than or Equal To 12m ', 'Rural', '762204', '897802', '1051538', '1218603', '155196']
['Oceania', 'Elevations Less Than or Equal To 1m', 'Rural', '99919', '115905', '134633', '128828', '9146']
['Oceania', 'Elevations Less Than or Equal To 20m ', 'Rural', '1134007', '1343603', '1590022', '1937585', '267534']
['Oceania', 'Elevations Less Than or Equal To 3m', 'Rural', '164304', '191743', '222130', '233985', '22561']
['Oceania', 'Elevations Less Than or Equal To 5m', 'Rural', '287793', '335546', '388501', '434716', '51897']
['Oceania', 'Elevations Less Than or Equal To 7m', 'Rural', '428625', '500441', '580295', '662121', '83533']
['Oceania', 'Elevations Less Than or Equal To 9m', 'Rural', '568706', '666939', '776354', '900481', '110497']
['Oceania', 'Total National Population', 'Rural', '9561292', '11471250', '14024049', '20681609', '8441651']
['Oceania', 'Elevations > 20m or Non-Contiguous ', 'Urban', '12547162', '14195786', '16912718', '18658175', '39148']
['Oceania', 'Elevations Less Than or Equal To 10m ', 'Urban', '2200753', '2532995', '3003692', '3293517', '5852']
['Oceania', 'Elevations Less Than or Equal To 12m ', 'Urban', '2729119', '3136967', '3721347', '4023841', '7139']
['Oceania', 'Elevations Less Than or Equal To 1m', 'Urban', '92528', '105767', '125631', '136478', '227']
['Oceania', 'Elevations Less Than or Equal To 20m ', 'Urban', '4589488', '5255982', '6240084', '6566734', '11449']
['Oceania', 'Elevations Less Than or Equal To 3m', 'Urban', '310744', '361508', '430433', '499388', '881']
['Oceania', 'Elevations Less Than or Equal To 5m', 'Urban', '752050', '874001', '1038190', '1179988', '2222']
['Oceania', 'Elevations Less Than or Equal To 7m', 'Urban', '1342907', '1552001', '1841419', '2048884', '3708']
['Oceania', 'Elevations Less Than or Equal To 9m', 'Urban', '1945861', '2240098', '2656137', '2937199', '5173']
['Oceania', 'Total National Population', 'Urban', '17136649', '19451769', '23152802', '25224909', '50597']
['Europe', 'Elevations > 20m or Non-Contiguous ', 'Rural', '163359246', '162706798', '208303075', '113649857', '4627707']
['Europe', 'Elevations > 20m or Non-Contiguous ', 'Urban', '309270561', '316003549', '418732932', '265691431', '548471']
['Europe', 'Elevations Less Than or Equal To 10m ', 'Rural', '8921599', '9344934', '10191711', '8029402', '129830']
['Europe', 'Elevations Less Than or Equal To 10m ', 'Urban', '33776617', '34884603', '39019817', '32965986', '50897']
['Europe', 'Elevations Less Than or Equal To 12m ', 'Rural', '9812906', '10282757', '11223256', '8779223', '146041']
['Europe', 'Elevations Less Than or Equal To 12m ', 'Urban', '38167942', '39417882', '44201162', '37110048', '57906']
['Europe', 'Elevations Less Than or Equal To 1m', 'Rural', '3742831', '3912040', '4227031', '3236008', '50401']
['Europe', 'Elevations Less Than or Equal To 1m', 'Urban', '9954478', '10380836', '11579113', '9648341', '15628']
['Europe', 'Elevations Less Than or Equal To 20m ', 'Rural', '13208952', '13851590', '15226199', '11697732', '212558']
['Europe', 'Elevations Less Than or Equal To 20m ', 'Urban', '53512695', '55319289', '62521646', '51814850', '84008']
['Europe', 'Elevations Less Than or Equal To 3m', 'Rural', '5224425', '5463529', '5929681', '4744031', '72134']
['Europe', 'Elevations Less Than or Equal To 3m', 'Urban', '16234092', '16801906', '18647708', '15853153', '24784']
['Europe', 'Elevations Less Than or Equal To 5m', 'Rural', '6411169', '6704539', '7286949', '5832084', '89853']
['Europe', 'Elevations Less Than or Equal To 5m', 'Urban', '21755340', '22473128', '24902148', '21290248', '32735']
['Europe', 'Elevations Less Than or Equal To 7m', 'Rural', '7515264', '7865709', '8568306', '6811908', '106158']
['Europe', 'Elevations Less Than or Equal To 7m', 'Urban', '26861165', '27736249', '30779447', '26298853', '40204']
['Europe', 'Elevations Less Than or Equal To 9m', 'Rural', '8463637', '8861773', '9662812', '7634002', '121681']
['Europe', 'Elevations Less Than or Equal To 9m', 'Urban', '31613048', '32647909', '36469169', '30887023', '47442']
['Europe', 'Total National Population', 'Rural', '176568570', '176558812', '223529720', '125348019', '4840266']
['Europe', 'Total National Population', 'Urban', '362783257', '371322835', '481254575', '317506277', '632478']
['North America', 'Elevations > 20m or Non-Contiguous ', 'Rural', '113350248', '128596426', '128023212', '255497778', '19520575']
['North America', 'Elevations > 20m or Non-Contiguous ', 'Urban', '260535875', '296757222', '314603927', '402225848', '972417']
['North America', 'Elevations Less Than or Equal To 10m ', 'Rural', '4510499', '5107953', '4527895', '8103077', '536562']
['North America', 'Elevations Less Than or Equal To 10m ', 'Urban', '24575726', '27509478', '28219257', '46670306', '61651']
['North America', 'Elevations Less Than or Equal To 12m ', 'Rural', '5388410', '6126378', '5451414', '9794501', '605670']
['North America', 'Elevations Less Than or Equal To 12m ', 'Urban', '30668871', '34389588', '35375008', '58139996', '76003']
['North America', 'Elevations Less Than or Equal To 1m', 'Rural', '592705', '666803', '610997', '1027386', '171365']
['North America', 'Elevations Less Than or Equal To 1m', 'Urban', '1566679', '1730214', '1814077', '2382101', '5968']
['North America', 'Elevations Less Than or Equal To 20m ', 'Rural', '8380426', '9640179', '8701571', '15548820', '867403']
['North America', 'Elevations Less Than or Equal To 20m ', 'Urban', '47379912', '52995004', '54253029', '83639047', '115225']
['North America', 'Elevations Less Than or Equal To 3m', 'Rural', '1183749', '1344383', '1233602', '2012079', '252729']
['North America', 'Elevations Less Than or Equal To 3m', 'Urban', '4024295', '4406582', '4551369', '6066943', '12827']
['North America', 'Elevations Less Than or Equal To 5m', 'Rural', '2078406', '2337609', '2079421', '3593976', '341640']
['North America', 'Elevations Less Than or Equal To 5m', 'Urban', '7848219', '8590398', '8771636', '11828205', '22829']
['North America', 'Elevations Less Than or Equal To 7m', 'Rural', '3088571', '3465549', '3050583', '5396471', '425342']
['North America', 'Elevations Less Than or Equal To 7m', 'Urban', '13479682', '14889220', '15145037', '21342474', '36321']
['North America', 'Elevations Less Than or Equal To 9m', 'Rural', '4038490', '4562798', '4039761', '7143160', '499762']
['North America', 'Elevations Less Than or Equal To 9m', 'Urban', '20649659', '23006285', '23449955', '38174996', '51825']
['North America', 'Total National Population', 'Rural', '121730674', '138236608', '136724785', '271046607', '20387978']
['North America', 'Total National Population', 'Urban', '307915785', '349752222', '368856952', '485864890', '1087642']
['South America', 'Elevations > 20m or Non-Contiguous ', 'Rural', '105821441', '119567258', '131717443', '223382699', '15247746']
['South America', 'Elevations > 20m or Non-Contiguous ', 'Urban', '146797669', '176550823', '203339934', '329625178', '270241']
['South America', 'Elevations Less Than or Equal To 10m ', 'Rural', '3707829', '4283574', '4703764', '8943181', '228599']
['South America', 'Elevations Less Than or Equal To 10m ', 'Urban', '14465697', '17036372', '19621238', '32574367', '19343']
['South America', 'Elevations Less Than or Equal To 12m ', 'Rural', '4291797', '4967927', '5459057', '10353931', '266951']
['South America', 'Elevations Less Than or Equal To 12m ', 'Urban', '17264014', '20333114', '23397554', '38844410', '22783']
['South America', 'Elevations Less Than or Equal To 1m', 'Rural', '473008', '561960', '619126', '1091701', '20582']
['South America', 'Elevations Less Than or Equal To 1m', 'Urban', '709558', '868060', '1009758', '1591369', '1159']
['South America', 'Elevations Less Than or Equal To 20m ', 'Rural', '6529092', '7584065', '8338764', '15819940', '452502']
['South America', 'Elevations Less Than or Equal To 20m ', 'Urban', '27065733', '31912544', '36628423', '59958936', '34982']
['South America', 'Elevations Less Than or Equal To 3m', 'Rural', '943950', '1106559', '1214846', '2218252', '55898']
['South America', 'Elevations Less Than or Equal To 3m', 'Urban', '2117574', '2538559', '2938229', '4406100', '3758']
['South America', 'Elevations Less Than or Equal To 5m', 'Rural', '1804718', '2093408', '2291934', '4244576', '110866']
['South America', 'Elevations Less Than or Equal To 5m', 'Urban', '5101423', '6089933', '7038516', '11400038', '8354']
['South America', 'Elevations Less Than or Equal To 7m', 'Rural', '2680636', '3089887', '3387405', '6416774', '165073']
['South America', 'Elevations Less Than or Equal To 7m', 'Urban', '9357959', '11074365', '12771388', '21107053', '13236']
['South America', 'Elevations Less Than or Equal To 9m', 'Rural', '3373239', '3888725', '4267061', '8057467', '208002']
['South America', 'Elevations Less Than or Equal To 9m', 'Urban', '12822897', '15110534', '17402616', '28930098', '17430']
['South America', 'Total National Population', 'Rural', '112350531', '127151325', '140056209', '239202641', '15711683']
['South America', 'Total National Population', 'Urban', '173863402', '208463363', '239968353', '389584115', '306223']

In [9]:
# Playing with Pandas!

import pandas as pd

In [10]:
input_datafram = pd.read_csv('lecz-urban-rural-population-land-area-estimates_continent-90m.csv')
input_datafram['Continent']

0             Africa
1             Africa
2             Africa
3             Africa
4             Africa
5             Africa
6             Africa
7             Africa
8             Africa
9             Africa
10            Africa
11            Africa
12            Africa
13            Africa
14            Africa
15            Africa
16            Africa
17            Africa
18            Africa
19            Africa
20              Asia
21              Asia
22              Asia
23              Asia
24              Asia
25              Asia
26              Asia
27              Asia
28              Asia
29              Asia
           ...
90     North America
91     North America
92     North America
93     North America
94     North America
95     North America
96     North America
97     North America
98     North America
99     North America
100    South America
101    South America
102    South America
103    South America
104    South America
105    South America
106    South America
107    South America
108    South America
109    South America
110    South America
111    South America
112    South America
113    South America
114    South America
115    South America
116    South America
117    South America
118    South America
119    South America
Name: Continent, dtype: object

In [12]:
input_datafram.head()

,Continent,ElevationZone,UrbanRuralDesignation,Population1990,Population2000,Population2010,Population2100,LandArea
0,Africa,Elevations > 20m or Non-Contiguous,Rural,333302081,418265923,530184094,1249908321,23749644
1,Africa,Elevations > 20m or Non-Contiguous,Urban,157846329,210381843,266776037,504662423,204719
2,Africa,Elevations Less Than or Equal To 10m,Rural,18167003,22569516,28154645,76368900,172460
3,Africa,Elevations Less Than or Equal To 10m,Urban,22412955,28679117,36746774,94042536,13838
4,Africa,Elevations Less Than or Equal To 12m,Rural,20569411,25576481,31957186,85839163,202456